.scrolling-slider {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
  }

  .content-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	position: relative;
  }

  .top-background {
	  width: 100%;
    height: 400px; /* Adjust height as needed */
    flex-shrink: 0;
    position: relative;
    z-index: 1; /* Ensure it's beneath other content */
  }

.square-background-small {
	width: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
	position: relative;
}

  .square-background {
	width: 100%;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
	position: relative;
  }

  /* Styling for content */
  .content {
	  display: flex;
	  flex-direction: column;
	  align-items: center;

	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	top: -50px; /* Adjust so it slightly overlaps the square background */
	z-index: 2;
  }

  .content-overlap {
	margin-top: -50px;
  }

  .content-overlap-small {
	margin-top: -200px;
  }

  .text-wrapper {
	  max-width: 500px;
  }

  .content h3,
  .content h2,
  .content p {
	margin: 0;
	padding: 10px 0;
  }

  .border-radius {
	transition: border-radius 0.3s ease;
  }