p {
  line-height: 24px;
  letter-spacing: 0.2px;
}

h1 {
  font-size: 48px;
  width: 100%;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 20px 0 0 0;
}

h2 {
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 600;
}


h4 {
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.salmon p,
.salmon h1,
.salmon h2,
.salmon h3,
.salmon h4,
.salmon h5,
.salmon h6,
.salmon span,
.salmon li {
  color: var(--saturated-salmon);
}

@media only screen and (max-width: 799px) {
  h1 {
 font-size: 22px;
 margin: 0;
 letter-spacing: 1px;
  }

  h2 {
  font-size: 24px;
  margin: 0;
  letter-spacing: 1px;
     }

  h3 {
  font-size: 18px;
  margin: 0;
  letter-spacing: 0px;
  font-weight: 600;
       }

}